body {
	font-family: Arial, San-Serif;
	font-size: 100%;
    background-color: #8ecae6; 
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	padding: 50px 0;
	background-color: #219ebc;
}
h1,h2 {
	color: yellow;
	text-align: center;
}
nav {
	background-color: #ffb703;
	border-color: #fb8500;
	min-height: 64px;
}
nav li {
	float: left;
	width: 100px;
}
nav a {
	display: block;
	color: #023047;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
nav li a:hover {
	color: #fb8500;
	background-color: #023047;
}
p {
	font-size: 16px;
	line-height: 1.3em;
	margin-top: 0.1em;
	margin-bottom: 0;
	color: #023047;
}
footer {
		background-color: #219ebc;
		color: #ffb703;
		padding: 20px 0;
		margin-top: 30px;
}
.img {
	width: 200px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.inline-img{
	width: 250px;
	display: inline-block;
	border-radius: 15px;
	text-align: center;
	transform: scale(0.95);
	transition: .3s;
	max-width: 35%;
}
.inline-img:hover{
	transform: scale(1);
}
.square{
	width: 90px;
	height: 90px;
	margin: 30px auto;
	background-color: #123456;
	animation-name: spin;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
@keyframes spin{
	0% {transform: rotate(0deg); }
	25% {background-color: yellow; }
	100% {transform: rotate(360deg); }
}
.multimedia{
	overflow: auto;
}
.multimedia-video{
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	box-sizing: border-box;
}
video{
	height: 230px;
}